:root {
  --primary: #273043;
  --secondary: #9197ae;
  --secondary-100: #eeeeee;
  --secondary-200: #c9c9c9;
  --secondary-300: #555555;
  --third: #eff6ee;
  --white: #ffffff;
  --black: #000000;
  --font-main: Roboto;
  --font-second: Raleway;
  --color-text: rgb(0, 80, 245);
}
