$big-font-button: 20px !default;
$color-sidebar: var(--primary) !default;
$input-text-color: var(--secondary) !default;
$input-text-font-family: var(--font-main) !default;
$input-border-color: var(--secondary) !default;
$input-border-color-hover: var(--third) !default;
$input-border-background: var(--primary) !default;
$input-value-color: var(--white) !default;
$input-value-color-placeholder: var(--secondary) !default;
$frame-font-family: var(--font-second) !default;
$divider-font-family: var(--font-main) !default;
$divider-title-color: var(--secondary) !default;
$tag-color: var(--white) !default;
$tag-font-family: var(--font-second) !default;
$headline-color: var(--secondary) !default;
$headline-text: var(--font-second) !default;
$list-color: var(--secondary) !default;
$list-font-family: var(--font-second) !default;
$list-border-color: var(--secondary) !default;
$navigation-topbar-color: #fff !default;
$navigation-topbar-height: 64px !default;
$navigation-topbar-border-color: var(--secondary);
