.atomsFormsSelect {
  color: var(--secondary);
  position: relative;

  &__label {
    font: normal normal 600 16px/22px Open Sans;
    margin-bottom: 4px;
  }

  &__options {
    padding: 0;
    margin: 0;
    height: 200px;
    overflow: scroll;
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    position: absolute;
    background: var(--white);
    min-width: 100%;
  }

  &__item {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font: normal normal normal 16px/40px Open Sans;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &__wrapper {
    position: relative;
  }

  &__triangleWrapper {
    position: absolute;
    right: 20px;
    top: 50%;
  }

  &__input {
    font: normal normal normal 16px/22px Open Sans;
    transition: border-color 0.5s;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    padding: 10px 16px 8px 16px;
    display: block;
    width: 100%;

    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: var(--secondary-200);
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: var(--secondary-200);
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: var(--secondary-200);
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: var(--secondary-200);
    }

    &:focus {
      outline: none !important;
      border-color: var(--primary);
    }
  }
}
