.moleculesPresentationFrame {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__boldText {
    font-weight: 700;
  }

  &__item {
    font-family: $frame-font-family;
    font-weight: 400;
    padding: 5px 0;
  }

  &__headline {
    &.upper {
      text-transform: uppercase;
    }

    &.main {
      font-weight: 700;
      font-size: 20px;
    }

    &.bold {
      font-weight: 700;
    }

    &.color {
      color: var(--primary);
    }
  }
}
