.atomsButton {
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: var(--secondary);
  border: 0;
  margin-right: 6px;
  height: 100%;
  width: 100%;
  font-size: 12px;
  cursor: pointer;

  &.animationFill {
    transition: 0.3s;
  }

  &:hover {
    background-color: var(--white);
    color: var(--primary);

    &.primary.animationFill {
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &.primary {
    color: var(--primary);
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &.rounded {
    border-radius: 6px;
  }

  &.bigText {
    font-size: 16px;
  }

  &.outline {
    border: 1px solid var(--secondary);

    &.outline.primary {
      border: 1px solid var(--primary);
    }
  }

  &.onlyText {
    padding: 20px;
  }

  &.onlyIcon {
    padding: 10px;
  }
}
